.progress{
    border-radius: 50px;
    box-shadow: none;
    margin-bottom: 5px;
    overflow: visible;   
    background:#726d6d;
}

.progress .progress-bar{
    box-shadow: none;
    position: relative;
    border-radius: 8px;
}

.progress-bar-active{
    animation: animate-positive 2s;
}

.progress-bar-zeroed{
    width: 0% !important;
}

.progress-value-hidden{
    opacity: 0 !important;
}

.progress .progress-title{
    font-size: 12px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 4px;
    left: 15px;
}

.progress .progress-value{
    transition: opacity 2s forwards;
    width: 45px;
    height: 100%;
    line-height: 20px;
    background: #f5f5f5;
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-weight: bold;
    color: #e95095;
    position: absolute;
    top: 0px;
    right: -2px;
    opacity: 1;

}

@keyframes animate-positive
{
    0%{
        width: 0;
    }
}